{% extends 'base.html' %}

{% block title %}
Add Fabric + Color Page
{% endblock %}

{% block content %}
<div class="mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% include 'fabrics/_fabriccolors_form.html' %}
        <!-- Actions -->
        <div class="d-flex justify-content-between mt-4">
          <a href="{% url 'fabrics:fabriccolors_list' %}" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-add">Add Fabric Color</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}