{% extends 'base.html' %}

{% block title %}
POs Page
{% endblock %}

{% block content %}
<div class="mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2></h2>
        <a href="{% url 'pos:issue_po' %}" class="btn btn-add">Issue New PO</a>
    </div>
</div>
<div class="mt-5">
    {% include '_search_form.html' %}
</div>

{% include 'pos/_pos_table.html' %}

{% if request.user.is_superuser %}
<h3 class="mt-5 text-danger">Closed POs</h3>

{% include 'pos/_inactive_pos_table.html' %}
{% endif %}

{% endblock %}